library.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--Llenguatge de Marques-->
<!--Tasca 3.1-->
<!--Miquel Calafell Estarellas y Alex Gonzalez Brotons-->
<!--Codigo de caracteres UTF-8-->
<!--Hemos usado complexType siempre porque teneian otros elementos en su interior-->

<!--Especificamos la codificación y los vocabularios-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elemento">
    <xs:complexType mixed="true">
      <xs:sequence>
        <!--Tenemos el elemento de artista y dentro el id en formato de codigo de bytes y el nombre en formato de string-->
        <xs:element name="Artista">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--El elemento Album donde el maximo de elementos del interior no tiene limitación-->
        <!--En el interior tenemos la misma estructura que Artistas-->
        <!--Uno de los elementos dentro de Album es Tracks con nuevos elementos como miliseconds que se encuentra en un formato de integer, bytes y path en formato de string y el id_media_type y id_genre como formato de codigo de bytes-->
        <xs:element maxOccurs="unbounded" name="Album">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="Track">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="miliseconds" type="xs:unsignedInt" />
                    <xs:element name="bytes" type="xs:string" />
                    <xs:element name="path" type="xs:string" />
                    <xs:element name="id_media_type" type="xs:unsignedByte" />
                    <xs:element name="id_genre" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element maxOccurs="unbounded" name="Composers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedShort" />
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="Genre">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="Media_types">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedByte" />
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element maxOccurs="unbounded" name="Album_artists">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_album" type="xs:unsignedByte" />
              <xs:element name="id_artist" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!--En el elemento Track_composers tenemos el elemento de id_composers donde al haber mas de uno tenemos que pueden haber un numero ilimitado de elementos en el interior-->
        <xs:element maxOccurs="unbounded" name="Track_composers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_track" type="xs:unsignedShort" />
              <xs:element maxOccurs="unbounded" name="id_composer" type="xs:unsignedShort" />
              <xs:element name="year" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element maxOccurs="unbounded" name="Album_tracks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_album" type="xs:unsignedByte" />
              <xs:element name="id_track" type="xs:unsignedShort" />
              <xs:element name="number_track" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="Playlist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Playlist_tracks">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="id_playlist" type="xs:unsignedByte" />
                <xs:element name="id_track" type="xs:unsignedShort" />
                <xs:element name="number_track" type="xs:unsignedByte" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>